p{
    margin: 0;
}

.titleFlex h1{
    font-family: 'Gooseberry Juice', sans-serif;
    color: var(--white);
    margin: 0px;
}

.titleFlex .flexing{
    display: flex;
    align-items: center;
}

.titleFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.titleFlex a{
    font-size: 20px;
    color: var(--yellow);
    margin-right: 1rem;
    transition: transform .2s;
}

.titleFlex a:hover{
    transform: scale(1.2);
}

table{
    color:  var(--white);
}