<div class="login-container">
    <div class="container m-auto">
        <form (ngSubmit)="onSubmit()"  [formGroup]="form" autocomplete="off" >
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="login-card mt-4">
                        <div class="card-body fondo-amarillo">
                            <img src="assets/img/logo.png" alt="logo" class="logo">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nickInput" name="username" placeholder="exampleUser" formControlName="nick"/>
                                <label for="nickInput">Nick</label>
                            </div>

                            <div class="dosInputs">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameInput" name="name" placeholder="name" formControlName="name"/>
                                    <label for="nameInput">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="lastNameInput" name="lastname" placeholder="exampleUser" formControlName="last_name"/>
                                    <label for="lastNameInput">Last Name</label>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" formControlName="email"/>
                                <label for="emailInput">Email</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="collegeInput" name="college" placeholder="Ilerna" formControlName="college"/>
                                <label for="collegeInput">College</label>
                            </div>
                            
                            <div class="dosInputs">
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" formControlName="password"/>
                                    <label for="passwordInput">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="cpasswordInput" placeholder="Confirm Password" formControlName="cpassword"/>
                                    <label for="cpasswordInput">Confirm Password</label>
                                </div>
                            </div>
                        
                            <div class="alert alert-danger" *ngIf="error == 'passwords'">
                                Passwords do not match.
                            </div>

                            <div class="alert alert-danger" *ngIf="error == 'email'">
                                A user with that email already exists
                            </div>

                            
                            <div class="alert alert-danger" *ngIf="error == 'username'">
                                A user with that username already exists
                            </div>

                            <button type="submit" class="btn btn-login w-100 mt-1">Create Account</button>
                            <p class="text-center mt-2 purpul">Already have an account? <a href="/login">Access here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
